{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container mx-auto flex items-center justify-center">
        <h2 class="text-white text-2xl font-bold">Settings</h2>
    </div>

{% endblock %}