<div class="flex flex-col mb-5">
    <label for="token" class="text-white">Bot token</label>
    <input type="text" class="outline-none bg-slate-600 text-white pb-2 pt-2 ps-3 pe-3 rounded-lg border border-slate-600 w-full block mb-1" name="bot_token">
    <small class="text-slate-400 text-xs">Get it from BotFather on telegram</small>
</div>
<div class="flex flex-col">
    <label for="token" class="text-white">Chat ID</label>
    <input type="text" class="outline-none bg-slate-600 text-white pb-2 pt-2 ps-3 pe-3 rounded-lg border border-slate-600 w-full block mb-1" name="chat_id">
    <small class="text-slate-400 text-xs">Get it from getUpdates API</small>
</div>